.sellers{
    padding-top: 80px;
    padding-bottom: 100px;
}



.title{
    text-align: center;
    text-transform: capitalize;
    color: #780202;
    font-family: MADE Canvas;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 147.19%;
}

.section{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;

}

.center{
    width: 90%;
    margin: 0 auto;
}
.images img{
    width: 300px;
    transition: transform .2s;
}
.images{
    position: relative;
}


.shadow{
    text-align: center;
    background-color: #EEEEEE;
    position: absolute;
    width: 248px;
    height: 101px;
    top: 1424px;
    margin-left: 25px;
}

.sofa{
    color: #000000;
    text-transform: capitalize;
    font-family: MADE Canvas;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.dollars{
    color: #780202;
    text-transform: capitalize;
    font-family: MADE Canvas;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 10px;
}


.btn{
    background: #780202;
    width: 119px;
    height: 37px;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    font-family: MADE Canvas;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-top: 20px;
}


.more{
    padding-top: 100px;
    text-align: end;
    cursor: pointer;
}

.see{
    margin-right: 33px;
    color: #000000;
    font-family: MADE Canvas;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}


.images img:hover{
    transform: scale(1.1);
}
.icon{
    padding-right: 8px;
}